
<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="show_26960" href="/books/26960">Show</a></td>
        <td><a class="edit_26960" href="/books/26960/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_26960" rel="nofollow" data-method="delete" href="/books/26960">Destroy</a></td>
      </tr>

  </tbody>
</table>


<h2>New book</h2>
<%= form_with model: @book, local:true do |f| %>

  <h4>title</h4>
  <%= f.text_field :title %>

  <h4>body</h4>
  <%= f.text_area :body %>

  <br>
  <%= f.submit 'Create Book' %>

<% end %>