
<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="show_26960" href="/books/26960">Show</a></td>
        <td><a class="edit_26960" href="/books/26960/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_26960" rel="nofollow" data-method="delete" href="/books/26960">Destroy</a></td>
      </tr>
      
  </tbody>
</table>


<h2>New book</h2>
<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="Lc5I02Wb2nf3nZjgNX2O78adHcPFLslguy4TorQFUDrVAbuDP4HKnev64TOrdG2cSLmnWq/tFSZQSRrgixj7IA==" />

  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" name="book[title]" id="book_title" />
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body">
</textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book" />
  </div>
</form>