* {
  margin: 0;
  box-sizing: border-box;
  color: #040000;
}

body {
  margin: 33px;
}

h1 {
  margin: 15px 0;
}

th {
    padding-bottom: 5px;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

.flash {
  color: green;
}

.error {
  color: red;
}
